 .example-form {
     min-width: 150px;
     max-width: 500px;
     width: 100%;
 }
 
 .example-full-width {
     width: 100%;
 }
 
 mat-card {
     max-width: 400px;
 }
 
 .app-toolbar {
     position: sticky;
     position: -webkit-sticky;
     /* For macOS/iOS Safari */
     top: 0;
     /* Sets the sticky toolbar to be on top */
     z-index: 1000;
     /* Ensure that your app's content doesn't overlap the toolbar */
 }