<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav [mode]="'over'" position="start">

        <mat-toolbar color="primary" style="height:250px;width:300px" align="center">
            <div fxLayout="row wrap">
                <div fxFlex="100%" fxLayoutAlign="center center">
                    <img mat-card-avatar #avtar [src]="'assets/images/825752_cad9_2.jpg'" style=" width: 160px !important;
    height: 160px !important;
    border-radius: 100px !important;">
                </div>
                <div fxFlex="100%" fxLayoutAlign="center center">
                    <span>
                        Ranjeet 
                    </span>
                </div>
            </div>
        </mat-toolbar>

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                <button mat-button>{{node.name}}</button>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                <button mat-button>{{node.name}}</button>
            </mat-tree-node>
        </mat-tree>

    </mat-sidenav>

    <div fxLayout="row wrap">
        <div fxFlex="10" fxLayoutAlign="start center">
            <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
</button>
        </div>
        <div fxFlexOffset="10" fxFlex fxLayoutAlign="center center">
            <form class="example-form">
                <mat-form-field appearance="outline" class="example-full-width ">
                    <input type="text" placeholder="Search" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
        </div>

        <div fxFlex="10" fxLayoutAlign="end center">
            <button mat-icon-button>
                <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
            </button>
        </div>

        <div fxFlex="10" fxLayoutAlign="center center">
            <img mat-card-avatar #avtar src="assets/images/825752_cad9_2.jpg" style="height: 40px;width: 40px;border-radius: 40px;">
        </div>
    </div>
    <img src="assets/images/ngconf.jpg" alt="" width="100%">
    <div fxLayout="row">
        <div fxFlex="20">

        </div>
        <div fxFlex fxLayoutAlign="center center">
            <!-- <router-outlet>
    
            </router-outlet> -->
        </div>
        <div fxFlex="20">

        </div>
    </div>


    <router-outlet style="background-color: antiquewhite "></router-outlet>


</mat-sidenav-container>