<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav [mode]="'over'" position="start">

        <mat-toolbar color="primary" style="height:250px;width:300px;background-image: url('assets/images/javascripttheme.jpg');background-size: cover;background-repeat: no-repeat;" align="center">
            <div fxLayout="row wrap">
                <div fxFlex="100%" fxLayoutAlign="center center">
                    <img mat-card-avatar #avtar [src]="'assets/images/IMG_20190905_205837_671.jpg'" style=" width: 160px !important;
    height: 160px !important;
    border-radius: 100px !important;">
                </div>
                <div fxFlex="100%" fxLayoutAlign="center center">
                    <span>
                        Ranjeet 
                    </span>
                </div>
            </div>
        </mat-toolbar>

        <mat-nav-list color="warn">
            <a mat-list-item [routerLink]='["registerform"]' (click)="sidenav.toggle()">
                <mat-icon>library_books
                </mat-icon>&nbsp;
                <span>Register Form</span>
            </a>

            <a mat-list-item [routerLink]='["dynamiccontrol"]' (click)="sidenav.toggle()">
                <mat-icon>library_books
                </mat-icon>&nbsp;
                <span>Dynamic Form</span>
            </a>

            <a mat-list-item [routerLink]='["editor"]' (click)="sidenav.toggle()">
                <mat-icon>library_books
                </mat-icon>&nbsp;
                <span>Form Array</span>
            </a>

            <a mat-list-item [routerLink]='["editor"]' (click)="sidenav.toggle()">
                <mat-icon>library_books
                </mat-icon>&nbsp;
                <span>Form Validation</span>
            </a>

            <a mat-list-item [routerLink]='["setting"]' (click)="sidenav.toggle()">
                <mat-icon>settings</mat-icon>&nbsp;
                <span>Settings</span>
            </a>
            <a mat-list-item [routerLink]='["../login"]'>
                <mat-icon>power_settings_new</mat-icon>&nbsp;
                <span>Logout</span>
            </a>
        </mat-nav-list>

        <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">           
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>                
                <button mat-icon-button disabled></button>
                <button mat-button>{{node.name}}</button>
            </mat-tree-node>            
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                <button mat-button>{{node.name}}</button>
            </mat-tree-node>
        </mat-tree> -->

    </mat-sidenav>


    <mat-toolbar color="primary" class="app-toolbar">
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-button>
            Gallary
        </button>

        <button mat-button>
            Videos
        </button>

        <span class="example-spacer"></span>

        <div fxFlex="10" fxLayoutAlign="end center">
            <button mat-icon-button>
                    <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
                </button>
        </div>

        <div fxFlex="10" fxLayoutAlign="center center">
            <img mat-card-avatar #avtar src="assets/images/825752_cad9_2.jpg" style="height: 40px;width: 40px;border-radius: 40px;">
        </div>
    </mat-toolbar>

    <!-- <div fxLayout="row wrap">
        <div fxFlex="10" fxLayoutAlign="start center">
            <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
</button>
        </div>
        <div fxFlexOffset="10" fxFlex fxLayoutAlign="center center">
            <form class="example-form">
                <mat-form-field appearance="outline" class="example-full-width ">
                    <input type="text" placeholder="Search" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
        </div>

        <div fxFlex="10" fxLayoutAlign="end center">
            <button mat-icon-button>
                <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
            </button>
        </div>

        <div fxFlex="10" fxLayoutAlign="center center">
            <img mat-card-avatar #avtar src="assets/images/825752_cad9_2.jpg" style="height: 40px;width: 40px;border-radius: 40px;">
        </div>
    </div> -->

    <div fxLayout="row">
        <div fxFlex="20">

        </div>
        <div fxFlex fxLayoutAlign="center center">
            <!-- <router-outlet>
    
            </router-outlet> -->
        </div>
        <div fxFlex="20">

        </div>
    </div>


    <router-outlet style="background-color: antiquewhite " (activate)="onActivate($event)"></router-outlet>

    <div class="done" fxLayout="row" fxLayoutGap="15px" style="margin-top: 10px;margin-bottom: 10px;">

        <a mat-mini-fab color="default" matTooltip="Preview" matTooltipPosition="before">
            <mat-icon>code</mat-icon>
        </a>
    </div>

</mat-sidenav-container>