<mat-card>
    <mat-card-title>Dynamic control</mat-card-title>
    <div fxLayout="row wrap" [formGroup]="dynamicform">
        <div fxFlex="100">
            <mat-form-field class="full-width-input">
                <mat-label>Generic control</mat-label>
                <mat-select formControlName="genericdata" (selectionChange)="changeEvent($event.value)">
                    <mat-option *ngFor="let d of data" [value]="d">
                        {{d}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="100" formArrayName="myArray">
            <div *ngFor="let address of dynamicform.get('myArray')['controls']; let i = index;">
                <div [formGroupName]="i">
                    <mat-form-field class="full-width-input" *ngIf="address.get('dynamicControl').value">
                        <mat-label>{{address.get('label').value}}</mat-label>
                        <mat-select formControlName="dynamicControl">
                            <mat-option *ngFor="let state of address.get('dynamicControl').value" [value]="state">
                                {{state}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</mat-card>